{
  "name": "l2ptntl1",
  "config": {
    "connector.class": "com.kafka.connect.source.l2ptn.tl1.L2TL1Connector",
    "topics": "l2ptntl1",
    "topics.work": "1,1,0,0,1",
    "file.name.prefix": "PTN_ARM",
    "file.name.dateformat": "yyyyMMdd_HHmm",
    "file.name.template": "{{prefix}}_{{dateformat}}.txt",
    "file.path": "/app/FTP_Sample/",
    "tcp.ip": "39.117.20.222",
    "tcp.port": "19012",
    "tcp.buffer.size": "4096",
    "tcp.reconn.wait.time": "1000",
    "tcp.charset": "MS949",
    "poll.sleep.time": "500"
  }
}
