{
  "name": "sysinfo",
  "config": {
    "connector.class": "SysInfoConnector",
    "kafka.topic": "sysinfo",
    "quickstart": "sysinfo",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "max.interval": 100,
    "iterations": 10000000,
    "tasks.max": "1"
  }
}
