{
  "name": "l2ptn_file",
  "config": {
  "connector.class": "com.kafka.connect.source.l2ptn.ftp.pm.L2ParserConnector",
  "topics": "l2ptntunnel,l2ptnac,l2ptnpm,l2ptnport,l2ptnpw,l2ptnoptic,l2ptntemperature",
  "topics.work": "1,1,0,0,1,1,1",
  "file.name.prefix": "PM_TUNNEL,PM_AC,PM,PM_PORT,PM_PW,PM_OPTIC,PM_TEMPERATURE",
  "file.name.dateformat": "yyyyMMdd_HHmm",
  "file.name.template": "{{prefix}}_{{dateformat}}.txt",
  "file.path": "/app/FTP_Sample/",
  "file.charset": "MS949",
  "ftp.url": "39.117.20.222",
  "ftp.port": "621",
  "ftp.id": "ftpuser",
  "ftp.pswd": "ftp-123456",
  "ftp.collect.duration": "25000",
  "ftp.time.offset": "15",
  "ftp.connect.timeout": "5000",
  "ftp.read.timeout": "15000",
  "offset.flush.timeout.ms": 50000,
  "buffer.memory": 100,
  "acks": 0
}
}
