{
  "name": "l2ptn_ac",
  "config": {
    "connector.class": "com.kafka.connect.source.l2parser.L2ParserConnector",
    "topics": "l2ptntunnel,l2ptnac",
    "topics.work": "1,1,0,0,1",
    "file.name.prefix": "PM_TUNNEL,PM_AC",
    "file.name.dateformat": "yyyyMMdd_HHmm",
    "file.name.template": "{{prefix}}_{{dateformat}}.txt",
    "file.path": "/app/FTP_Sample/"
  }
}
